.experience {
  display: grid;
  inline-size: 100%;
  block-size: 100svh;
  grid-template-rows: auto minmax(0, 1fr);
}

.headerSlot {
  display: grid;
  min-inline-size: 0;
}

.main,
.content {
  display: grid;
  min-inline-size: 0;
  min-block-size: 0;
  grid-template-rows: minmax(0, 1fr);
}

.main {
  position: relative;
  outline: 2px solid transparent;
}
